# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
blog/
projects/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor directories and files
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea

# Temporary files
*.tmp
*.temp
