#image-container {
    display: inline-block;

    position: absolute;
    top: 50%;
    left: 50%;
  
    margin: -150px 0 0 -150px;

}

// .social-icon defines the motion.div that wraps the icons
.social-icon {
    display: inline-block;
    padding: 25px;

    // children actually define the icons themselves
    :hover {
        fill: $color3;
    }
}