#flex-container {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

header {
    margin: 50px 350px;
    text-align: justify;

    * {
        display: inline-block;
        margin: 0;
    }
}

.header-left {
    float: left;
    text-align: left;
}

.header-right {
    float: right;
    text-align: right;
}

main {
    flex: 1;
    padding: 50px 0px;
    width: 600px;
    margin: 0px auto;
}