<header class="header">
  <div class="header-content">
    <a href="{{ pathPrefix }}/" class="logo">
      <img src="{{ pathPrefix }}/images/akla_wolf.png" alt="Wolf logo" class="logo-icon">
      <span class="logo-text">Bo</span>
    </a>
    <nav class="nav">
      <a href="{{ pathPrefix }}/">Home</a>
      <a href="{{ pathPrefix }}/projects.html">Projects</a>
      <a href="{{ pathPrefix }}/blog.html">Blog</a>
      <a href="{{ pathPrefix }}/gallery.html">Gallery</a>
      {% include "../partials/theme-toggle.njk" %}
    </nav>
  </div>
</header>
